/* BEGIN EXTERNAL SOURCE */

        .menu1{
            color:white;
            padding-left:20px;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
color:red
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
color:red
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-left:20px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-left:20px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-left:20px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-left:20px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-left:20px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-left:20px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-left:20px
}
/* END EXTERNAL SOURCE */
