/* BEGIN EXTERNAL SOURCE */
*/
div {
width:100%;height:5px;background-color:aliceblue
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h3 {
padding-left:20px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
h3 {
color:red
}
/* END EXTERNAL SOURCE */
