<style>

    .price {
        color: var(--product-price-color);
        display: block;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        margin-top: 10px;

    }

</style>

<div class="row" style="">

    <div class="col-md-3 col-sm-6" style="background-color:white; width:170px;height:300px;border-radius:10px;margin-left:25px;margin-top:9px">
        <a href="">
            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/309864/vivo-v29e-black-thumb-600x600.jpg" class="img-responsive" style="margin-top: 10px;margin-bottom:10px" alt="" width="400" height="400" />
        </a>
        <a href="" style="margin-top:10px; color: black; text-decoration: none">
            realme C53 (8GB/256GB)
        </a>
        <strong class="price">
            4.490.000₫
            <small style="color:red;margin-left:4px">-6%</small>
        </strong>
    </div>

    <div class="col-md-3 col-sm-6" style="background-color:white; width:170px;height:300px;border-radius:10px;margin-left:32px;margin-top:9px">
        <a href="">
            <img src="~/Images/files/samsung1.png" class="img-responsive" style="margin-top: 10px;margin-bottom:10px" alt="" width="400" height="400" />
        </a>
        <a href="" style="margin-top:10px; color: black; text-decoration: none">
            realme C53 (8GB/256GB)
        </a>
        <strong class="price">
            4.490.000₫
            <small style="color:red;margin-left:4px">-6%</small>
        </strong>

    </div>

    <div class="col-md-3 col-sm-6" style="background-color:white; width:170px;height:300px;border-radius:10px;margin-left:32px;margin-top:9px">
        <a href="">
            <img src="~/Images/files/SS2021.jpg" class="img-responsive" style="margin-top: 10px;margin-bottom:10px" alt="" width="400" height="400" />
        </a>
        <a href="" style="margin-top:10px; color: black; text-decoration: none">
            realme C53 (8GB/256GB)
        </a>
        <strong class="price">
            4.490.000₫
            <small style="color:red;margin-left:4px">-6%</small>
        </strong>

    </div>
    <div class="col-md-3 col-sm-6" style="background-color:white; width:170px;height:300px;border-radius:10px;margin-left:32px;margin-top:9px">
        <a href="">
            <img src="~/Images/files/Xs64gb.png" class="img-responsive" style="margin-top: 10px;margin-bottom:10px" alt="" width="400" height="400" />
        </a>
        <a href="" style="margin-top:10px; color: black; text-decoration: none">
            realme C53 (8GB/256GB)
        </a>
        <strong class="price">
            4.490.000₫
            <small style="color:red;margin-left:4px">-6%</small>
        </strong>
    </div>
    <div class="col-md-3 col-sm-6" style="background-color:white; width:170px;height:300px;border-radius:10px;margin-left:32px;margin-top:9px">
        <a href="">
            <img src="~/Images/files/ip6.jpg" class="img-responsive" style="margin-top: 10px;margin-bottom:10px" alt="" width="400" height="400" />
        </a>
        <a href="" style="margin-top:10px; color: black; text-decoration: none">
            realme C53 (8GB/256GB)
        </a>
        <strong class="price">
            4.490.000₫
            <small style="color:red;margin-left:4px">-6%</small>
        </strong>

    </div>
    <div class="col-md-3 col-sm-6" style="background-color:white; width:170px;height:300px;border-radius:10px;margin-left:32px;margin-top:9px">
        <a href="">
            <img src="~/Images/files/11promax.jpg" class="img-responsive" style="margin-top: 10px;margin-bottom:10px" alt="" width="400" height="400" />
        </a>
        <a href="" style="margin-top:10px; color: black; text-decoration: none">
            realme C53 (8GB/256GB)
        </a>
        <strong class="price">
            4.490.000₫
            <small style="color:red;margin-left:4px">-6%</small>
        </strong>

    </div>

</div>


