/* BEGIN EXTERNAL SOURCE */

    body {
        background-color: white;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Playfair Display', serif;
        font-family: 'Roboto', sans-serif;
    }

    .navbar-inverse {
        background-color: #39B54A;
        border-color: #39B54A;
    }

    .top_header {
        background-color: black;
        padding-left: 110px;
        color: white;
    }

    .form-inline {
        float: right;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-size: x-large;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-size: large;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: black;
        }

    .navbar-brand {
        color: cadetblue;
    }

    .spnoibat {
        background-color: white;
    }

        .spnoibat h3 {
            padding-left: 30px;
        }

    .giohang {
        color: white;
    }


    .nav1 {
        width: 100%;
        height: 180px;
        border-bottom-left-radius: 4px;
    }


    .bt1 {
        color: #333;
        font-size: 16px;
        line-height: 14px;
        padding: 6px 14px;
        width: 15%;
        border-radius: 4px;
        text-align: center;
        float: left;
        margin: 0 21px;
        background: #FFAC0A;
    }

    .divitem {
        padding: 0 12px;
        text-align: center;
    }

    .header__listtop {
        align-items: center;
        display: flex;
        width: 28%;
    }

/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
background-color:#FFD400;place-items:center
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display:flex; align-items:center; margin-left:10px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:200px; height:auto
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
form {
margin-left:50px;width:250px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
 text-decoration: none; color: black; margin-left: 200px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
text-decoration: none; color:black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
font-size: 16px;color:black; text-decoration: none
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
font-size: 16px;color:black; text-decoration: none
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
font-size: 16px;color:black; text-decoration: none
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display:flex; margin-top:10px;margin-left:20px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
vertical-align:middle
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
text-decoration: none; color:black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:20px;height:20px;margin-left:24px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-left:40px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
text-decoration: none; color:black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:20px;height:20px;margin-left:24px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-left:40px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
text-decoration: none; color:black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:20px;height:20px;margin-left:24px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-left:40px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
text-decoration: none; color:black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:20px;height:20px;margin-left:24px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-left:40px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
text-decoration: none; color:black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:20px;height:20px;margin-left:24px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-left:40px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
text-decoration: none; color:black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:20px;height:20px;margin-left:24px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-left:40px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
text-decoration: none; color:black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:20px;height:20px;margin-left:24px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-left:40px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
a {
text-decoration: none; color:black
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:20px;height:20px;margin-left:24px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
display: block;dding-left:50px
}
/* END EXTERNAL SOURCE */
